.jet-sticky-column-sticky {
	align-self: flex-start;
}

.jet-sticky-section-sticky--stuck {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	max-width: 100%;
	z-index: 1100;
	margin-left: auto;
	margin-right: auto;
}
.jet-sticky-container-sticky{
	display: flex;
    align-self: flex-start;
	position: -webkit-sticky;
	position: sticky;
	max-width: 100%;
	z-index: 1100;
	top: 0;
}

//compability kava theme
.theme-kava .site{
	display: flow-root;
	overflow: clip;
}

